Repository yndingo/CI-CD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kubernetes, HELM, HELM-Monitoring

kubernetes:
  stage: module-pipelines
  trigger:
    include:
    - kubernetes/.gitlab-ci-kubernetes.yml
    strategy: depend

HELM:
  stage: module-pipelines
  trigger:
    include:
    - HELM/.gitlab-ci-HELM.yml
    strategy: depend

HELM-Monitoring:
  stage: module-pipelines
  trigger:
    include:
    - HELM-Monitoring/.gitlab-ci-HELM-Monitoring.yml
    strategy: depend

Update README.MD
  docker compose gitlab and fix errors/README.MD
Due: none

Create 1.ini
  docker compose gitlab and fix errors/img/1.ini
Due: none

Add files via upload
  docker compose gitlab and fix errors/img/14.png
  docker compose gitlab and fix errors/img/15.png
  docker compose gitlab and fix errors/img/16.png
  docker compose gitlab and fix errors/img/20.png
  docker compose gitlab and fix errors/img/3.png
  docker compose gitlab and fix errors/img/31.png
  docker compose gitlab and fix errors/img/39.png
  docker compose gitlab and fix errors/img/40.png
Due: none

Delete docker compose gitlab and fix errors/img/1.ini
  docker compose gitlab and fix errors/img/1.ini
Due: none

Delete docker compose gitlab and fix errors/img/20.png
  docker compose gitlab and fix errors/img/20.png
Due: none

Update README.md
  README.md
Due: none

Create README.md
  Move IMG to S3 (Yandex Object Storage)/README.md
Due: none

Update README.md
  Move IMG to S3 (Yandex Object Storage)/README.md
Due: none

Create 1.ini
  Move IMG to S3 (Yandex Object Storage)/img/1.ini
Due: none

Add files via upload
  Move IMG to S3 (Yandex Object Storage)/img/20.png
  Move IMG to S3 (Yandex Object Storage)/img/21.png
  Move IMG to S3 (Yandex Object Storage)/img/22.png
  Move IMG to S3 (Yandex Object Storage)/img/29.png
Due: none

Delete Move IMG to S3 (Yandex Object Storage)/img/1.ini
  Move IMG to S3 (Yandex Object Storage)/img/1.ini
Due: none

Create README.md
  VM/README.md
Due: none

Update README.md
  VM/README.md
Due: none

Create 1.ini
  VM/img/1.ini
Due: none

Add files via upload
  VM/img/102.png
  VM/img/109.png
  VM/img/13.png
  VM/img/18.png
  VM/img/24.png
  VM/img/29.png
  VM/img/31.png
  VM/img/41.png
  VM/img/42.png
  VM/img/46.png
  VM/img/55.png
Due: none

Create README.md
  kubernetes/README.md
Due: kubernetes

Update README.md
  kubernetes/README.md
Due: kubernetes

Create 1.ini
  kubernetes/img/1.ini
Due: kubernetes

Add files via upload
  kubernetes/img/0.png
  kubernetes/img/12.png
  kubernetes/img/19.png
  kubernetes/img/24.png
  kubernetes/img/28.png
  kubernetes/img/33.png
  kubernetes/img/36.png
  kubernetes/img/38.png
  kubernetes/img/4.png
  kubernetes/img/41.png
  kubernetes/img/53.png
  kubernetes/img/58.png
  kubernetes/img/60.png
  kubernetes/img/67.png
  kubernetes/img/68.png
  kubernetes/img/69.png
  kubernetes/img/76.png
  kubernetes/img/8.png
  kubernetes/img/80.png
  kubernetes/img/90.png
  kubernetes/img/91.png
  kubernetes/img/92.png
Due: kubernetes

Create README.md
  HELM/README.md
Due: HELM

Create 1.ini
  HELM/img/1.ini
Due: HELM

Add files via upload
  HELM/img/1.png
  HELM/img/2.png
  HELM/img/7.png
Due: HELM

Update README.md
  HELM/README.md
Due: HELM

Path conditions:
  kubernetes: any of: kubernetes/**/*
  HELM: any of: HELM/**/*
  HELM-Monitoring: any of: HELM-Monitoring/**/*
